
li{
    margin-bottom:5px;
    background-color: #2668aa;
    padding:5px;
}

li:hover{
   box-shadow:0 0 3px #2668aa; 
}
.profile-wrapper{
    position: relative;
    width:auto;
}

.profile{
    border-radius: 50%;
    border:3px solid royalblue;
    cursor: pointer;
    height: 50px;
    width: 50px;
    float:left;
}

.profile-wrapper:hover .profile-list{
    display:block;
}

.profile-list{
    display:none;
    position: absolute;
    width:150px;
    top: 0px;
    padding-top: 70px;
    right: 25px;
}


.anchor{
    color:white ;
    text-decoration: none;
    background-color: teal;

}
.filter{
    height:30px;
    border:none;
    font-size: 18px;
}
.main-container{
    width:70%;
    background-color:rgba(177, 97, 116, 0.7);
    margin:0px auto;
    padding-bottom:30px;
}

.header-list{
    width:100%;
    height:50px;
    background-color:#2668aa;
    top:0px;
    padding:10px 10px
}

.filter-label{
    width:30px;
    line-height: 30px;
    margin:0px;
}


.input-filter{
width:70px;
font-size: 18px;
float: left;
margin:0px 5px;    
height:30px;
}

.table-container{
    padding:30px;
    margin:0px auto;
    border:2px solid black;

}

.todo-add-button{
    width:100px;
    height:30px;
    border-radius: 5px;
    float:right;
    margin:0px 5px;
    border:none;
    
}

tr{
    border-bottom: 2px solid black;
    background-color: aqua;
}

tr:last-child{
    border-bottom: 0px;
}
th{
    background-color:black;
    color:white;
}


td,th{
    padding:15px;
    text-align: center;
}

.button-edit, .button-del{
    padding:5px;
    margin:5px 0px;
}
.checkbox{
    width:20px;
    height:20px;
}